.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-button {
  border-radius: 10px;
  background-color: lightsalmon;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 7px;
  width: 85px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.search-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.search-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.search-button:hover span {
  padding-right: 25px;
}

.search-button:hover span:after {
  opacity: 1;
  right: 0;
}
